/* -----------------  Cards data ---------*/
.card{
  width: 100%;

}

.panel{
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: -webkit-linear-gradient(#112b6e, #01023a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#112b6e, #01023a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#112b6e, #01023a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#112b6e, #01023a); /* Standard syntax */
}
.panel-title{
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
  width: 100%;
  float: left;
}
.panel-title img{
  float: left;
  margin: 16px 10px;
}
.panel-title img.show{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.panel-title p{
  font-weight: bold
}
.panel-title p.pull-right{
  margin-top: 0;
  margin-left: 50px;

}
.panel-body {
  padding: 15px;
}
#cards-list{
  width: 100%;
}

div.card-info {
  background-color: #fff;
  display: none;
  opacity: 0;
}
div.card-info.show {
  display: block;
  opacity: 1;
  transition: opacity 1s;
}

.card-img, .information,.cashback{
  float: left;
  width: 100%;
}
.card-img img{
  display:block;
  margin:auto;
}
.cashback{
  text-align: right;

}
.cashback h4{
  font-size: 20px;
  margin: 0;
}
.cashback h3{
  font-size: 40px;
  margin: 0;
}
