header{
  margin: 20px 0 40px 0;
}

/* --------- --- Header --------- --- */
#menu{
  width:100%;
}
#logo{
  width:230px;

}
/* --------- Menu ------------*/
/**/
#hamburger-container{
  float: left;
  width: 45px;
}

#hamburger{
  display: inline-block;
  width:40px;
  height:35px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-image: url("../assets/menu-closed.png");
  background-position: left;
}

#hamburger.opened{
  background-image: url("../assets/menu-opened.png");
  background-size: 30px 30px;
}
span#hamburger-text{
  color: #fff;
  font-size: 10px;
  margin: 2px;
}

#menu{
  position: absolute;
  top: -200px;
  z-index:1;
  visibility:hidden;
  opacity:0;

}
#menu.show {
  position: initial;
  visibility:visible;
  opacity:1;
  transition: opacity 1s;

}
/*Menu items*/
#topnav {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;

}
#topnav::after, .panel-heading::after, .card-info::after{
  content: "";
  clear: both;
  display: block;
}
/* Float the list items side by side */
#topnav li {
  background-color: #112b6e;
  padding: 14px;
  background: -webkit-linear-gradient(#112b6e, #01023a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#112b6e, #01023a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#112b6e, #01023a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#112b6e, #01023a); /* Standard syntax */
}


/* Style the links inside the list items */


#topnav li.active{
    background-color: #03122b;
    background: -webkit-linear-gradient(#03122b, #03122b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#03122b, #03122b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#03122b, #03122b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#03122b, #03122b); /* Standard syntax */
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */
#topnav li.icon {
  display: none;
}

#topnav li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
#topnav li:hover, #topnav li a:hover{
  opacity: 0.3;
}
#topnav li a span {
  color: #fff;
  display: inline-block;
  margin-left: 45px;
}

/*Menu items*/
#topnav li a{
  width: 25px;
  height: 20px;
}
#home {
  background: url(../assets/icons.svg) 0 0;
}
#vehicles {
  background: url(../assets/icons.svg) -70px 0;
}
#home-pet {
  background: url(../assets/icons.svg) -205px 0;
}
#finances {
  background: url(../assets/icons.svg) -303px 0;
}
#life {
  background: url(../assets/icons.svg) -170px 0;
}
#business {
  background: url(../assets/icons.svg) -437px 0;
}
#travel {
  background: url(../assets/icons.svg) -240px 0;
}
