
@media screen and (min-width : 481px){

  #logo{
    width: 350px;
    margin-left: 20px;
  }

  #hamburger-container{
    width: 45px;
    height: 45px;
    background-size: 40px 40px;
  }

}
@media screen and (min-width : 768px){
  .panel-title p{
  float: left;
  }
  .panel-title p{
    float: left;
  }
  .pull-right{
    float: right !important;
  }
  .panel-title p.pull-right{
    margin-top: 20px;
}
/* iPads (portrait and landscape) ----------- */

@media screen and (min-width : 768px) and (max-width : 1024px) {
  /* Styles */
  .container{
    width: 735px;
    margin: auto;
  }
  .card-img{
    width: 200px;
  }
  .information{
    width: 450px;
    padding-left: 30px;
  }
  .information p{
    margin-top: 0;
  }
 .cashback h4, .cashback h3{
   width: 100px;
   margin-left: auto;
   margin-right: auto;
 }
}



@media screen and (min-width : 1025px){
  /* Styles */
  .container{
    width: 1010px;
    margin: auto;
  }
  /*Header*/
  #logo{
    margin-left: 0px;
  }
  #hamburger-container{
    display: none;
  }
  /* Menu */
  #menu{
    position: initial;
    visibility:visible;
    opacity:1;

  }
  #topnav li {
    margin:3px;
    border-radius:5px;
    float: left;
    width: 124px;
  }
  li#home-item{
    width: 25px;
    height: 20px;
  }
  #topnav li a span {
    color: #fff;
    display: inline-block;
    margin-left: 40px;
  }

  /* Cards */
  .card-info{
    padding-top: 35px;
  }
  .information{
    border-right: 1px solid #d4d4d4;
  }
  .card-img{
    width: 210px;
  }
  .information{
    width: 370px;
    padding-left: 43px;
    padding-right: 50px;
    border-right: 1px solid #d4d4d4;
  }
  .cashback{
    width: 210px;
    margin-left: 50px;
  }

}

/* Desktops and laptops ----------- */
@media screen  and (min-width : 1224px) {
  /* Styles */
  header{
    margin: 20px 0 80px 0;
  }
  .container{
    width: 1214px;
    margin: auto;
  }

  #topnav li {
    width: 158px;
  }
  li#home-item{
    width: 25px;
    height: 20px;
  }
  .card-img{
    width: 230px;
  }
  .pull-right{
    float: right !important;

  }
  .information{
    width: 480px;
    margin-left:40px;
    padding-right:60px;
  }
  .cashback{
    width: 50px;
    margin-left: 60px;
  }
}

/* Large screens ----------- */
@media screen  and (min-width : 1824px) {
  /* Styles */
  .container{
    width: 1214px;
  }
}
